@model dynamic

<p>@T["AppointmentDate: {0}", Model.AppointmentDate]</p>
<p>@T["MaxParticipants: {0}", Model.MaxParticipants]</p>
<p>@T["InstructorName: {0}", Model.InstructorName]</p>
<p>@T["ClassType: {0}", Model.ClassType]</p>